background-color: rgb(69, 68, 68);






.ORDER1 {
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 300px;
  font-size: 100px;
  width: 300px;
  height: 100px;
  background-color: #1a8fe9;
  color: #1a8fe9;
}