body {
  font-family: 'JetBrains Mono ', monospace;
  background-color: white;
}

.box {
  width: 20000px;
  height: 270px;
  background: linear-gradient(to bottom, lightblue, white);
  border: 2px solid #ffffff;
  position: absolute;
  top: -4px;
  left: -30px;
  right: -30px;
  bottom: 0px;
  z-index: 10;
  animation: box_smooth 1.5s;
}



@keyframes box_smooth {
  from {
    opacity: 0;
    height: 360px;
  }

  to {
    opacity: 1;
    height: 270px;
  }
}
.Headline {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 250px;
  font-weight: bold;
  color: #4e99f5;
  z-index: 11;
  animation: fadein_and_move 1.5s;
}

.image3 {
  position: absolute;
  top: 635px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  background-image: url('Screenshot_2025-11-14_at_21.19.47-removebg-preview-removebg-preview.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
  animation: boat_moving 1.5s;
}

@keyframes fadein_and_move {
  from {
    
    top: 325px;
    opacity: 0;
  }
  to {
    
    top: 280px;
    opacity: 1;
  }
}

@keyframes boat_moving {
  from {
    transform : translateX(-300%);
  }
  to {
    transform : translateX(-50%);
  }
}


@keyframes water_disappearing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




@keyframes drop_down {
  from {
    top: 1500px;
    opacity: 0;
  }
  to {
    top: 1400px;
    opacity: 1;
  }
}


.info {
  position: absolute;
  top: 1200px;
  left: 50px;
  
  font-size: 50px;
  color: #1a8fe9;
  z-index: 11;
}


.info_button {
  position: fixed;
  top: 1259px;
  left: 50px;
  width: 150px;
  height: 65px;
  background-color: white;
  border-color: rgb(0, 0, 0);
  border-radius: 100px;
  font-size: 50px;
  color: rgb(84, 170, 245);
  z-index: 11;
}








.intro {
  position: absolute;
  top: 1400px;
  left: 50px;
  font-size: 70px;
  font-weight: bold;
  color: #1a8fe9;
  z-index: 11;
}

