body {
  font-family: 'JetBrains Mono ', monospace;
  background-color: rgb(69, 68, 68);
}

.box {
  width: 20000px;
  height: 270px;
  background: linear-gradient(to bottom, lightblue, rgb(69, 68, 68));
  border: 2px solid rgb(69, 68, 68);
  position: absolute;
  top: -4px;
  left: -30px;
  right: -30px;
  bottom: 0px;
  z-index: 10;
  animation: box_smooth 1.5s;
}



@keyframes box_smooth {
  from {
    opacity: 0;
    height: 360px;
  }

  to {
    opacity: 1;
    height: 270px;
  }
}
.Headline {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 250px;
  font-weight: bold;
  color: #4e99f5;
  z-index: 11;
  animation: fadein_and_move 1.5s;
}

.image3 {
  position: absolute;
  top: 635px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  background-image: url('Screenshot_2025-11-14_at_21.19.47-removebg-preview-removebg-preview.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
  animation: boat_moving 1.5s;
}

@keyframes fadein_and_move {
  from {
    
    top: 325px;
    opacity: 0;
  }
  to {
    
    top: 280px;
    opacity: 1;
  }
}

@keyframes boat_moving {
  from {
    transform : translateX(-300%);
  }
  to {
    transform : translateX(-50%);
  }
}


@keyframes water_disappearing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




@keyframes drop_down {
  from {
    top: 1500px;
    opacity: 0;
  }
  to {
    top: 1400px;
    opacity: 1;
  }
}


.info {
  position: absolute;
  top: 1290px;
  left: 60px;
  
  font-size: 20px;
  color: #1a8fe9;
  z-index: 11;
}


.info_button {
  position: relative;
  top: 1320px;
  left: 50px;
  width: 150px;
  height: 65px;
  background-color: white;
  border-color: rgb(0, 0, 0);
  border-radius: 100px;
  font-size: 50px;
  color: rgb(84, 170, 245);
  z-index: 11;
}
.info_button:hover {
  background-color: #96c6f9;
  cursor: pointer;
}







.intro {
  position: absolute;
  top: 1400px;
  left: 50px;
  font-size: 70px;
  font-weight: bold;
  color: #1a8fe9;
  z-index: 11;
}

.box2 img {
  position:relative;
  top:31.567px;
  display:block;
  margin: 0 auto;
  width: 75%;
  height: 75%;

  border-radius: 10%;
  object-fit: cover;
}


.box2 {
  position: absolute;
  top: 1500px;
  left: 50px;  
  width: 400px;
  height: 400px;
  border-color:black ;
  background-color: rgb(69, 68, 68);
  border-radius: 20%;
  z-index: 11;
}


.box2 button {
  padding: 10px 20px;
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: rgb(67, 208, 255);
  cursor: pointer;

}

.box2 button:hover {
  background-color: #abd4ff;
}



.ORDER1 {
  position: absolute;
  top: 259px;
  left: 300px;
  font-size: 100px;
  width: 400px;
  height: 100px;
  background-color: rgb(69, 68, 68);
  color: #5190de;
  z-index: 11;
  border: none;
}

.Product_1 {
  width: 500px;
  height: 500px;
}